---
import ImageCard from '../components/legacy/ImageCard.astro';
---

<main>
    <ImageCard imgSrc = "../content/paintings/abstrait/abs-12.png" />
    <ImageCard imgSrc = "../content/paintings/abstrait/abs.8.JPG" />
</main>