---
// Import components and any necessary data here
import ImageComponent from '../components/ImageComponent.astro';
// Assuming you have an array of images
const images = [{ src: 'path/to/image1.jpg', alt: 'Image 1' }, ...];
---
<html>
  <head>
    <title>My Astro Gallery</title>
  </head>
  <body>
    <div class="gallery">
      {images.map((image) => (
        <ImageComponent src={image.src} alt={image.alt} />
      ))}
    </div>
  </body>
</html>