---
import { Image } from 'astro:assets';


const imageFiles = await Astro.glob('../content/paintings/abstrait/*');
---


<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {
      imageFiles.map((img) => (

        <a href="/details">
            <Image
            src={img.default}
            alt="Paintings"
            class="mb-3 w-full rounded"
            />
        </a>

      ))
    }
  </div>