---
---
<div class="nav-links">
    <a href="/">Acceuil</a>
    <a href="/about">A propos</a>
</div>


<!--
    <a href="/gallery_abstrait">Peinture abstraites</a>
    <a href="/gallery_paysages">Peinture paysages</a>
 -->